.form-inline .control-label {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.form-inline .control-label-first {
    margin-bottom: 0;
    margin-right: 5px;
    vertical-align: middle;
}